@font-face {
  font-family: Montserrat, sans-serif;
  src: url(fonts/Montserrat.ttf);
}

$black: #272d33;
$darkgrey: #4d5052;
$grey: #f1f1f1;
$lightgrey: #fafafa;
$greylines: #c8c8c8;
$lightred: #ff503f;
$red: #ff503f;
$green: #aacc4e;
$mainfont: Montserrat, sans-serif;



body {
	margin: 0;
	font-family: $mainfont; 
}

.mainwrap {
	display: flex;
	flex-direction: column;
}

.navigation {
	background-color: $black;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 22px 6% 0 2%;
}

.mainarea {
	background-color: $grey;
}

.navigation__main {
	display: flex;
}

.navigation__secondary {
	display: flex;
}

.navigation__item {
	margin: 0 3% 20px 2%;
	cursor: pointer;
}

.navigation__item__img{
	filter: grayscale(100%) brightness(63%);
}

.navigation__item:hover .navigation__item__img{
	filter: grayscale(0%) brightness(100%);
}


.navigation__item__active, .navigation__user, 
.navigation__logout{
	img{
		filter: grayscale(0%) brightness(100%);
	}
	&:hover img{
		opacity: 0.7;
	}
}

.navigation__user {
	position: relative;
	img {
		width: 40px;
	}
}

.count {
	position: absolute;
	top: 0;
	right: 5px;
	background-color: $lightred;
	padding: 1px 0;
	border-radius: 50%;
	width: 13px;
	height: 13px;
	box-sizing: border-box;
	text-align: center;
	font-size: 9px;
	font-weight: bold;
}

.navigation__board {
	img {
		margin-bottom: 5px;
		width: 26px;
	}
	.navigation__item__text {
		margin-bottom: 12px;
	}
}

.navigation__projects {
	position: relative;
	margin-bottom: 16px;
	img {
		width: 36px;
		position: relative;
		left: 2px;
		top: -5px;
		margin-bottom: -1px;
	}
	.count {
		top: -1px;
		right: 0;
		background-color: #adadad;
	}
	.navigation__item__text {
    line-height: 4px;
    margin-bottom: 15px;
  }
}

.navigation__projects:hover .navigation__projects__count{
	background-color: $lightred;
} 

.navigation__settings {
	img {
		width: 25px;
		position: relative;
    left: 6px;
    margin-bottom: 6px;
	}
}

.navigation__upgrade {
	position: relative;
	img {
		width: 26px;
		position: relative;
		left: 5px;
	}
	.count {
		top: -1px;
		right: 4px;
	}
	.navigation__item__text {
    margin-bottom: 8px;
    margin-top: 5px;
  }
}

.navigation__logout {
	img{
		width: 26px;
		position: relative;
		top: -2px;
		left: 3px;
	}
	.navigation__item__text{
		margin-top: 5px;
	}
} 

.navigation__item__text {
	font-size: 11px;
}

.mainarea__headline {
	display: flex;
	justify-content: space-between;
	padding: 8px 20px;
}

.mainarea__headline__dashboard,
.mainarea__headline__onlineusers{
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}
}

.mainarea__headline__dashboard__refresh {
	background-color: $red;
	width: 28px;
	border-radius: 50%;
	height: 28px;
	box-sizing: border-box;
	padding: 6px 0 0 5px;
	display: inline-block;
	img{
		width: 16px;
	}
}

.mainarea__headline__onlineusers__show {
	background-color: $green;
	width: 28px;
	border-radius: 50%;
	height: 28px;
	box-sizing: border-box;
	padding: 9px 0 0 6.5px;
	display: inline-block;
	img{
		width: 14px;
	}
}

.mainarea__headline__dashboard__btn, 
.mainarea__headline__onlineusers__btn {
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid $greylines;
	border-radius: 14px;
	padding: 5px 11px;
	position: relative;
	top: -3px;
	color: $black;
}

.mainarea__headline__onlineusers__btn {
	text-transform: uppercase;
	span{
		display: none;
	}
}

@media(min-width: 700px) {
	.mainwrap {
		flex-direction: row;
	}

	.navigation {
		width: 132px;
		min-height: 100vh;
		color: #fff;
		flex-direction: column;
		padding: 0;
	}

	.mainarea {
		background-color: $grey;
		width: calc(100% - 100px);
	}

	.navigation__main {
		flex-direction: column;
		margin-top: 28px;
		margin-bottom: 67vh;
	}

	.navigation__secondary {
		flex-direction: column;
		padding-bottom: 32px;
	}

	.navigation__user { 
		img {
			width: 96px;
		}
	}

	.count {
		top: -6px;
		right: 5px;
		padding: 7px 0;
		width: 31px;
		height: 31px;
		font-size: 13px;
	}

	.navigation__item {
		margin: 0 auto 20px auto;
		&::after{
			content: "...";
			text-align: center;
			display: block;
			color: $darkgrey;
			font-size: 34px;
			font-family: Courier;
			letter-spacing: -11px;
			position: relative;
			top: -2px;
			left: -6px;
		}
	}

	.navigation__board {
		img {
			width: 43px;
		}
	}

	.navigation__projects {
		img {
			width: 52px;
			left: 2px;
			top: -7px;
			margin-bottom: 0;
		}
		.count {
			top: -19px;
			right: -13px;
		}
	}

	.navigation__settings {
		img {
			width: 49px;
			position: relative;
			margin-bottom: 0;
			left: 4px;
		}
		&::after{
			content: "";
		}
	}

	.navigation__upgrade {
		position: relative;
		img {
			width: 50px;
			position: relative;
			left: 5px;
		}
		.count {
			top: -12px;
			right: -13px;
		}
		.navigation__item__text {
	    margin-bottom: 8px;
	    margin-top: 0;
	  }
	}

	.navigation__logout {
		img{
			width: 43px;
			position: relative;
			top: -2px;
			left: 3px;
			margin-bottom: 2px;
		}
		&::after{
			content: "";
		}
		.navigation__item__text{
			margin-top: 0;
		}
	}

	.navigation__item__text {
		font-size: 16px;
	}

	.mainarea__headline__onlineusers__btn {
		span{
			display: block;
		}
		img{
			width: 16px;
		}
	}
}