@font-face {
  font-family: Montserrat, sans-serif;
  src: url(fonts/Montserrat.ttf);
}

$black: #272d33;
$darkgrey: #4d5052;
$grey: #f1f1f1;
$lightgrey: #fafafa;
$lightred: #ff503f;
$red: #ff503f;
$mainfont: Montserrat, sans-serif;


body {
	margin: 0;
	font-family: $mainfont; 
}

.mainwrap {
	display: flex;
	flex-direction: column;
}

.navigation {
	background-color: $black;
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.mainarea {
	background-color: $grey;
}

.navigation__main {
	display: flex;
}

.navigation__secondary {
	display: flex;
}

.navigation__item {
	margin: 0 auto 20px auto;
	cursor: pointer;
	&::after{
		content: "...";
		text-align: center;
		display: block;
		color: $darkgrey;
		font-size: 34px;
		font-family: Courier;
		letter-spacing: -11px;
		position: relative;
		top: -2px;
		left: -6px;
	}
	img {
		filter: grayscale(100%) brightness(63%);
		&:hover{
			filter: grayscale(0%) brightness(100%);
		}
	}
}

.navigation__item__active img, .navigation__user img, 
.navigation__logout img{
	filter: grayscale(0%) brightness(100%);
	&:hover{
		opacity: 0.8;
	}
}

.navigation__user {
	position: relative;
	img {
		width: 64px;
	}
}

.count {
	position: absolute;
	top: -6px;
	right: 5px;
	background-color: $lightred;
	padding: 7px 0;
	border-radius: 50%;
	width: 31px;
	height: 31px;
	box-sizing: border-box;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}


.navigation__board {
	img {
		margin-bottom: 5px;
	}
	.navigation__item__text {
		margin-bottom: 12px;
	}
}

.navigation__projects {
	position: relative;
	margin-bottom: 16px;
	img {
		width: 52px;
		position: relative;
		left: 2px;
		top: -7px;
	}
  .count {
		top: -19px;
		right: -13px;
	}
	.navigation__item__text {
    line-height: 4px;
    margin-bottom: 15px;
  }
}

.navigation__settings {
	img {
		width: 54px;
	}
	&::after{
		content: "";
	}
}

.navigation__upgrade {
	position: relative;
	img {
		width: 50px;
		position: relative;
		left: 5px;
	}
	.count {
		top: -12px;
		right: -13px;
	}
	.navigation__item__text {
    margin-bottom: 8px;
  }
}

.navigation__logout {
	img{
		width: 43px;
		position: relative;
		top: -2px;
		left: 3px;
	}
	&::after{
		content: "";
	}

} 


@media(min-width: 700px){
	.mainwrap {
		flex-direction: row;
	}

	.navigation {
		width: 132px;
		min-height: 100vh;
		color: #fff;
		flex-direction: column;
	}

	.mainarea {
		background-color: $grey;
		width: calc(100% - 100px);
	}

	.navigation__main {
		flex-direction: column;
		margin-top: 28px;
		margin-bottom: 67vh;
	}

	.navigation__secondary {
		flex-direction: column;
		padding-bottom: 32px;
	}

	.navigation__user { 
		img {
			width: 96px;
		}
	}
}